body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    overflow-x: hidden;
}
#canvas, #video{
    width: 100%;
    height: auto;
}
#canvas{
    /* filter:sepia(100%) saturate(500%) brightness(80%) hue-rotate(80deg) contrast(150%) */
}
#photos{
    display: none;
}
.container{
    width: 90%;
    border: 5px solid #0F1C16;
}


.container .row .screen{
    
    margin: 0;
    padding: 0;
    
}
.container .row .screen .inner{
    border: 1px solid #0F1C16;
    margin: 0 10px;
    padding: 0;
    box-shadow: 0px 0px 10px #3F9060;

}

.container .row .mid{
    margin: 5px 0;
}
.container .row .mid .inner{
    border: 1px solid #0F1C16;
    margin: 10px 0;

}
    
/* } */
@media screen and (min-width: 768px) { 
    .container{
        width: 100%;
    }

}
/* @media screen and (min-width: 320px) { 
    .container .row .mid{
        width: 31.5%;
        border: 1px solid green;
    }
} */
@media screen and (max-width: 768px) { 
    .container{
        width: 100%;
    }
    /* .container .row .mid{
        width: 31.5%;
        border: 1px solid pink;
    } */
}
/* @media screen and (min-width: 768px) { 
    .container .row .mid{
        border: 1px solid yellow;

        width: 31.5%;
    }
} */
/* @media screen and (min-width: 998px) { 
    .container .row .mid{
        border: 1px solid blue;

    }
} */
/* @media screen and (min-width: 1200px) { 
    .container .row .mid{
        border: 1px solid purple;
        width: 33%;

    }
} */
@media screen and (min-width: 1200px) { 
    .container{
        width: 90%;
    }
    
}
